<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhonepeSdk"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Keep it true in UAT environment for both the flags-->
        <meta-data
            android:name="com.phonepe.android.sdk.isUAT"
            android:value="true"/>
        <meta-data
            android:name="com.phonepe.android.sdk.isSimulator"
            android:value="true"/>

        <!-- The value will be the MID-->
        <meta-data
            android:name="com.phonepe.android.sdk.MerchantId"
            android:value="ATMOSTUAT"/>

        <!-- For UAT, App Id is not required.
        Make sure to add the following and you get the APP Id for Production after UAT Sign-off -->
<!--        <meta-data-->
<!--            android:name="com.phonepe.android.sdk.AppId"-->
<!--            android:value="<your app id given by PhonePe>"/>-->
    </application>

</manifest>